<tr>
  <td class="id">{{id}}</td>
  <td>{{firstName}}</td>
  <td>{{lastName}}</td>
  <td>{{birthDate}}</td>
  <td>{{gender}}</td>
  <td>{{discountLevel}}</td>
  <td>{{visitsHistory.length}}</td>
  <td>{{isMarriage}}</td>
  <td>{{children.length}}</td>
  <td>{{room}}</td>
  <td>{{costOfLiving}}</td>
  <td><button class="deleteBtn">Delete</button></td>
</tr>