    <div class="cardWeather">
      <div class="descWeather">weather description : {{wx_desc}}</div>
      <div class="imgWeather"><img src="./images/{{wx_icon}}" alt="" /></div>
      <div class="temp">temperature : {{temp_c}}</div>
      <div class="feelslike">feel like temperature : {{feelslike_c}}</div>
      <div class="windspd_ms">maximum mean wind speed : {{windspd_ms}}</div>
    </div>