{{!-- {{#each this}}
<div class="cardWeather">
  <div class="dateWeather">local time : {{date}}</div>
  <div class="sunrise_time">Sunrise time : {{sunrise_time}}</div>
  <div class="sunset_time">Sunset time : {{sunset_time}}</div>
  <div class="windspd_ms">Max mean wind speed : {{windgst_max_ms}}</div>
  <div class="cardWeather__by-day">
    {{#each Timeframes}}
    <ul>
      <li>local time : {{this.time}}</li>
      <li><img src="http://www.weatherunlocked.com/Images/icons/1/{{this.wx_icon}}" alt="" /></li>
      <li>weather description : {{this.wx_desc}}</li>
      <li>temp. : {{this.temp_c}}</li>
      <li>feel like temp. : {{this.feelslike_c}}</li>
      <li>max. mean wind speed : {{this.windspd_ms}}</li>
    </ul>
    {{/each}}
  </div>
</div>
{{/each}} --}}

<div class="weather_animated">
  <div class="location">
    <span data-api="location">{{location.name}}, {{location.region}}, {{location.country}}</span>
    <span data-api="location">{{location.localtime}}</span>
  </div>
  <div class="main_left">
    <img class="partly_cloudy" src="{{current.weather_icons}}" alt="">
    <span data-api="current_main_descr">{{current.weather_descriptions}}</span>
  </div>
  <div class="main_right">
    <span data-api="current_wind_speed" class="wind">Wind: {{current.wind_speed}} kmph</span>
    <span data-api="current_precip" class="precip">Precip: {{current.precip}} mm</span>
    <span data-api="current_pressure" class="pressure">Pressure: {{current.pressure}} mb</span>
    <span data-api="current_temperature" class="temperature">{{current.temperature}} °c</span>
  </div>
</div>

